################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XamNativeShowcase/.vs/XamNativeShowcase/v15
bin
obj
packages
